version: 2
updates:
  - package-ecosystem: cargo
    directory: "/"
    schedule:
      interval: daily
      time: "12:20"
      timezone: Asia/Tokyo
    open-pull-requests-limit: 10
    allow:
      - dependency-type: all
    groups:
      windows:
        patterns:
          - "windows-sys"
          - "windows-targets"
          - "windows_aarch64_gnullvm"
          - "windows_aarch64_msvc"
          - "windows_i686_gnu"
          - "windows_i686_msvc"
          - "windows_x86_64_gnu"
          - "windows_x86_64_gnullvm"
          - "windows_x86_64_msvc"
    cooldown:
      default-days: 7
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: daily
      time: "12:20"
      timezone: Asia/Tokyo
    cooldown:
      default-days: 7
