version: 2
updates:
  - package-ecosystem: cargo
    directory: "/"
    schedule:
      interval: daily
      time: "12:20"
      timezone: Asia/Tokyo
    allow:
      - dependency-type: all
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: daily
      time: "12:20"
      timezone: Asia/Tokyo
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-minor", "version-update:semver-patch"]
