name: Release
on:
  workflow_dispatch:
    inputs:
      version:
        description: version. The next release version (without prefix v)
        required: true
      apply:
        description: apply. Specify whether the atcual release should be performed or not
        type: boolean
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-latest
            suffix: .tar.gz
          - target: x86_64-unknown-linux-musl
            os: ubuntu-latest
            suffix: .tar.gz
          - target: aarch64-unknown-linux-musl
            os: ubuntu-latest
            suffix: .tar.gz
          - target: arm-unknown-linux-musleabihf
            os: ubuntu-latest
            suffix: .tar.gz
          - target: x86_64-apple-darwin
            os: macOS-latest
            suffix: .tar.gz
          - target: aarch64-apple-darwin
            os: macOS-latest
            suffix: .tar.gz
          - target: x86_64-pc-windows-msvc
            os: windows-latest
            suffix: .zip
          - target: aarch64-pc-windows-msvc
            os: windows-latest
            suffix: .zip

    runs-on: ${{ matrix.os }}
    steps:
      - run: sudo apt-get install --yes --no-install-recommends libx11-xcb-dev libxcb-shape0-dev libxcb-xfixes0-dev musl-tools gcc-aarch64-linux-gnu gcc-arm-linux-gnueabihf
        if: matrix.os == 'ubuntu-latest'

      - uses: actions/checkout@v3

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true
          target: ${{ matrix.target }}

      - run: cargo build --release --locked --target ${{ matrix.target }}

      - name: Bundle on Windows
        run: 7z a ../../../thwack-${{ matrix.target }}${{ matrix.suffix }} thwack.exe
        if: matrix.os == 'windows-latest'
        working-directory: target/${{ matrix.target }}/release

      - name: Bundle on -nix
        run: tar cf ../../../thwack-${{ matrix.target }}${{ matrix.suffix }} thwack
        if: matrix.os != 'windows-latest'
        working-directory: target/${{ matrix.target }}/release

      - uses: actions/upload-artifact@v2
        with:
          name: Artifact-thwack-${{ matrix.target }}${{ matrix.suffix }}
          path: thwack-${{ matrix.target }}${{ matrix.suffix }}

  release:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - run: sudo apt-get install libx11-xcb-dev libxcb-shape0-dev libxcb-xfixes0-dev

      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.PAT_FOR_RELEASE }}

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3

      - run: gem install github_changelog_generator

      - name: Update CHANGELOG.md
        run: ./scripts/update_changelog.sh
        env:
          CHANGELOG_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          FUTURE_RELEASE: v${{ github.event.inputs.version }}

      - name: Bump the package version
        run: |
          sed -i -e "s/^version = .*$/version = \"${{ github.event.inputs.version }}\"/" Cargo.toml
          cargo build

      - name: git-push(1)
        run: ./scripts/git_push.sh
        env:
          COMMIT_MESSAGE: Bump to ${{ github.event.inputs.version }}
        if: github.event.inputs.apply == 'true'

      - name: Create a GitHub release and publish the crate on crates.io
        run: ./scripts/release.sh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
          VERSION: ${{ github.event.inputs.version }}
          FUTURE_RELEASE: v${{ github.event.inputs.version }}
          RELEASE_TITLE: Release v${{ github.event.inputs.version }}
          APPLY: ${{ github.event.inputs.apply }}

      - uses: actions/download-artifact@v2

      - name: Calculate checksums
        run: |
          mv Artifact-thwack-*/thwack-* .
          for f in thwack-*; do sha256sum "$f" | awk '{print $1}' > "${f}.sha256"; done

      - name: Upload assets to the release
        if: github.event.inputs.apply == 'true'
        run: gh release upload "v${{ github.event.inputs.version }}" thwack-*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
